<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t.water.mapper.DevInformationMapper">

    <resultMap id="BaseResultMap" type="com.t.water.entity.DevInformation">
            <result property="devId" column="dev_id" jdbcType="BIGINT"/>
            <result property="devLastLat" column="dev_last_lat" jdbcType="DECIMAL"/>
            <result property="devLastLon" column="dev_last_lon" jdbcType="DECIMAL"/>
            <result property="devStatus" column="dev_status" jdbcType="TINYINT"/>
            <result property="devLastPower" column="dev_last_power" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        dev_id,dev_last_lat,dev_last_lon,
        dev_status,dev_last_power,created_time,
        update_time,is_deleted
    </sql>
</mapper>
