<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t.water.mapper.RiverManagerMapper">

    <resultMap id="BaseResultMap" type="com.t.water.entity.RiverManager">
            <id property="managerId" column="manager_id" jdbcType="BIGINT"/>
            <result property="superiorId" column="superior_id" jdbcType="BIGINT"/>
            <result property="managerPhone" column="manager_phone" jdbcType="VARCHAR"/>
            <result property="managerPwd" column="manager_pwd" jdbcType="VARCHAR"/>
            <result property="managerPost" column="manager_post" jdbcType="VARCHAR"/>
            <result property="managerProfileUrl" column="manager_profile_url" jdbcType="VARCHAR"/>
            <result property="managerAddress" column="manager_address" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        manager_id,superior_id,manager_phone,
        manager_pwd,manager_post,manager_profile_url,
        manager_address,create_time,update_time,
        is_deleted
    </sql>
</mapper>
